services:
  nginx:
    image: nginx:latest
    container_name: nginx-container
    ports:
    - "80:80"
    depends_on:
      - server
      - client
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - mern-network
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client-container
    depends_on:
      - server
    networks:
      - mern-network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server-container
    environment:
      - MONGO_URI
      - JWT_SECRET
      - CLOUDINARY_CLOUD_NAME
      - CLOUDINARY_API_KEY
      - CLOUDINARY_API_SECRET
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge