services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client-container
    ports:
      - "3000:80"
    depends_on:
      - server
    networks:
      - mern-network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server-container
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI
      - JWT_SECRET
      - CLOUDINARY_CLOUD_NAME
      - CLOUDINARY_API_KEY
      - CLOUDINARY_API_SECRET
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge